$background-color: #f8fafc;

.navbar.navbar-default {
  background-color: rgb(250, 250, 250);
  color: #e3342f;
  font-family: "Open sans", "sans-serif";
  font-size: 50px;
}

.body {
  background-color: #f8fafc;
  color: #3D4852;
  font-family: "Open sans", "sans-serif";
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#e3342f, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.div.projects {
  color: #3D4852;
  font-size: 10px;

}

//.middleman-logo {
//  margin-bottom: 1rem;
//  width: 10rem;
//}

