%div#social

    %a{:href => "https://www.facebook.com/tatiana.siyanko" }
        %img{:alt => "facebook", :src => "./images/facebook.png", :width =>"2.5%"}

    %a{:href => "https://www.linkedin.com/in/tatianasiyanko"}
        %img{:alt => "linkedin", :src => "./images/linkedin.png", :width =>"2.5%"}

    %a{:href => "https://twitter.com/fun_skier"}
        %img{:alt => "twitter", :src => "./images/twitter.png", :width =>"2.5%"}

    %a{:href => "https://www.youtube.com/channel/UCgAFnl-yPP4fpcTzZp7s-wg?view_as=subscriber"}
        %img{:alt => "youtube", :src => "./images/youtube.png", :width =>"2.5%"}