%nav.navbar
    %ul.nav.navbar-nav
    %a{:href => "#"} Home
    %a{:href => "#"} Portfolio
    %a{:href => "#"} CV
    %a{:href => "#"} Contacts
    %a{:href => "#"} Blog
    
    %br
    
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #foodtech
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #artstech
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker #startups
              