.nav.self-auto.text-center
    %ul.list-reset.flex
        %li.mr-6
            %a.text-blue.hover:text-blue-darker{:href => "#"} Home
        %li.mr-6
            %a.text-blue.hover:text-blue-darker{:href => "#"} Projects
        %li.mr-6
            %a.text-blue.hover:text-blue-darker{:href => "#"} Contacts
        %li.mr-6
            %a.text-grey-light.cursor-not-allowed{:href => "#"} Blog
