%nav.navbar
    %ul.nav.navbar-nav
    %a{:href => "index.html"} Home
    %a{:href => "portfolio.html"} Portfolio
    %a{:href => "cv.html"} CV
    %a{:href => "mailto:tsiyanko@gmail.com"} Contacts
    %a{:href => "https://medium.com/@fun_skier"} Blog
    
    %br
    
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #foodtech
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #artstech
    %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker #startups
              