%nav.navbar
    %ul.nav.navbar-nav
    %a{:href => "index.html"} Home
    %a{:href => "portfolio.html"} Portfolio
    %a{:href => "cv.html"} CV
    %a{:href => "mailto:tsiyanko@gmail.com"} Contacts
    %a{:href => "https://medium.com/@fun_skier"} Blog
    
    %br

              