.body
    .wrapper-skills
        %p HTML
        .container
            .skills.html 90%
        %br
        %p CSS
        .container
            .skills.css 80%
        %br
        %p JavaScript
        .container
            .skills.js 65%
        %br
        %p PHP
        .container
            .skills.php 60%
                
    %div{:style => "margin-top:500px"}
