.body
    #wrapper-skills
        %p Startups
        .container
            .skills.startups 90%
        %br
        %p Project management
        .container
            .skills.project-management 80%
        %br
        %p Marketing
        .container
            .skills.marketing 90%
        %br        
        %p Web development
        .container
            .skills.web-development 20%

        %div{:style => "margin-top:200px"}
            