.body
    %h2
    
    .wrapper-hashtags
        %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #foodtech
        %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker.mr-2 #artstech
        %span.inline-block.bg-grey-lighter.rounded-full.px-3.py-1.text-sm.font-semibold.text-grey-darker #startups
    
    .wrapper#Tetiana
        %img(src="./images/red.jpg")
        %br 
    
    .footer-main
        %p Tetiana Siianko, &copy 2018
        