.bg-red-light
    %h1 Hello and welcome!
    .projects
        - data.projects.each do |project|
            %h4= project[:name]
            %p= project[:description]
    .container.mx-auto.text-center
        %img(src="./images/test_image.jpg" alt="Tetiana")
        %br 