.body

    %h3.portfolio Welcome to my portfolio!  
   
    .container.portfolio  
        .projects
        - data.projects.each do |project|
            %h4= project[:name]
            %p= project[:description]
            %br